#piechart {
  margin-left: auto;
  margin-right: auto;
  padding: 0 5;
  display: floating;
  //font-size: 12px;background-color:#26A69A;
  //background-color:white;
}

.percentage {
  padding: 3px;
  display: inline-block;
  height: 30px;
  opacity: 0.75;
  border: white;
  border-color: white;
  border-width: 2px;
}
