.table-header{
    padding: 5px 0px;
    text-align:right;
    font-size: 14px;
    background-color: white;
    font-weight: bolder; 
    border-radius: 5px;
}
.table-entries{
    padding: 5px;
    //padding-right: 5px;
    border-radius: 10px;
    text-align: right;
    font-size: 11px;
    font-weight: bold;
    height: 100%;
    
    //background-color: #faeaea;
}
